%li.person
  = person.name
  - if person.followed?
    %span.unfollow
      = form_for person.follow, method: :delete do |f|
        = f.submit 'Unfollow'
  - else
    %span.follow
      = form_for person.follow do |f|
        = f.hidden_field :id, value: person.name
        = f.submit 'Follow'
